<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AccessKeyId" value=""/>
    <add key="AccessKeySecret" value=""/>
    <add key="SignName" value=""/>
    <add key="queueName" value=""/>
    <add key="ReplyServerURL" value=""/>
    
  </appSettings>
</configuration>